.our-uniqueness-section{
    padding: 0 10px;
    text-align: center;
    @media screen and (min-width:$bp-tablet) {
        text-align: left;
    }
    &__bg{
        background-image: url('./img/honest-background.png');
        height: 100vw;
        background-color: transparent;
    }
    h2{
        font-size: 45px;
        @media screen and(min-width:$bp-desktop) {
            font-size:100px;
        }

    }
    &__container{
        margin-top: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 90px;
    }
    &__fees{
        display: flex;
        flex-wrap: wrap-reverse;
        align-items: center;
        justify-content: center;
        gap: 25px;
        text-align: center;
        @media screen and ( min-width:$bp-desktop) {
            gap: 105px;
            text-align: left;
            
        }
        position: relative;
    }
    .fees-desc{
        padding-top: 25px;
    }
    &__column1{
        display: flex;
        flex-direction: column;
        // justify-content: space-between;
        gap: 50px;
    }
    .annual,
    .joining,
    &__column3{
        border-radius: 50px;
        cursor:pointer;
        border: 2.02px solid rgba(255, 245, 238, 0.419);
        border-radius: 24px;
        background: linear-gradient(104.59deg, rgba(255, 255, 255, 0.099) 0.76%, rgba(255, 255, 255, 0.0768) 32.78%, rgba(255, 255, 255, 0.033) 69.11%, rgba(255, 255, 255, 0.021) 99%) border-box,
        radial-gradient(135.33% 135.33% at 5.71% -44.13%, #363636 0%, rgba(26, 26, 26, 0.27) 100%) padding-box;
        padding: 25px;
        @media screen and (min-width:$bp-desktop) {
            padding: 72px 45px;
            
        }
        color: white;
        display: inline-block;
}
.annual:hover,
.joining:hover,
&__column3:hover{
    box-shadow: 0 12px 30px rgba(255, 255, 255, 0.4);
        transition: box-shadow 0.1s ease;
}
.column1{
    position: absolute;
    bottom: 0;
    left: 0;
}
&__column2 img{
    max-width: 230px;
    @media screen and(min-width:$bp-desktop) {
        max-width: 826px;
    }
}
}.unique-background {
    background-image: url('../img/honest-background.png');
    /* твоє фонове зображення */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: white;
    overflow: hidden;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    position: relative;
}

.unique-background::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    /* легка тінь/туман */
    z-index: 1;
}

.unique-background>* {
    position: relative;
    z-index: 2;
}